---
layout: layouts/home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<h1>Page not found</h1>

<h2 class="illustration-404">404</h2>

<a href="{{ '/' | url }}" class="button">Return home</a>
