@font-face {
    font-family: 'Gilroy';
    src: url('./5fe8ce91c2e5710acb036571_Gilroy-SemiBold.woff2') format('woff2'), url('./5fe8ce3dd7bed21429dbe87d_Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: Gilroy;
}

body {
    min-height: 100vh;
    padding: 0;
    border: 0;
    margin: 0;
    overflow: hidden;
}

.hero-section {
    display: flex;
    align-items: end;
    
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
}

h1 {
    margin: 0;
}
