@font-face {
    font-family: 'Gilroy';
    src: url('./5fe8ce91c2e5710acb036571_Gilroy-SemiBold.woff2') format('woff2'), url('./5fe8ce3dd7bed21429dbe87d_Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
    line-height: 1.2;
    overflow: visible;
    font-family: sans-serif;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 40px;
    background-color: #f2f2f2;
    color: #1f1f1f;
    overflow: visible;
}

.hero-title {
    display: block;
    letter-spacing: -.5vw;
    text-transform: uppercase;
    font-size: 6.7vw;
    line-height: 1;
    transform: translate(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.new-section {
    height: 100vh;
    width: 100vw;
    background-color: green;
}