@font-face {
    font-family: 'Gilroy';
    src: url('./5fe8ce91c2e5710acb036571_Gilroy-SemiBold.woff2') format('woff2'), url('./5fe8ce3dd7bed21429dbe87d_Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    color: #000000;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.navbar h1 {
    margin: 0;
    font-size: 1em;
}

.navbar ul {
    margin: 0;
}

a {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
    transition: all .2s;
}

.name-wrapper.w--current {
    z-index: 1;
    position: relative;
}

.name-wrapper {
    z-index: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.nav-menu {
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: relative;
}

.nav-link {
    margin-left: 30px;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
}

.section.hero {
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    display: flex;
}

.section {
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.hero-h1 {
    max-width: 960px;
    letter-spacing: -2px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100px;
    line-height: 100px;
}

.section.about-me-home {
    position: relative;
}

.about-me-home-wrapper {
    z-index: 1;
    height: 700px;
    max-width: 1240px;
    background-color: #f5f5f5;
    background-image: url(https://assets-global.website-files.com/5fe8ce03305f8608daeabeb2/6009ebff34c834d91241413a_photo-home%402x.webp);
    background-position: 350px;
    background-repeat: no-repeat;
    background-size: 840px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding: 90px 100px 80px;
    text-decoration: none;
    display: flex;
    position: relative;
    overflow: hidden;
  }