---
permalink: /tags/
layout: layouts/base.njk
---
<h1>Tags</h1>

<ul class="all-tags">
  {%- for tag in collections.tagList | sort %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <li><a href="{{ tagUrl | url }}" class="post-tag">{{ tag | title }}</a></li>
  {%- endfor %}
</ul>
