---
layout: layouts/post.njk
title: About
templateClass: tmpl-post
eleventyNavigation:
  key: About
  order: 2
---

<p>My name is Oussama Ben Guirat, I'm living in Paris and I’m currently finishing a master's degree in Corporate & Market Finance at Panthéon-Assas University.</p>
<p>As long as I can remember, I’ve always been intrigued by finance and economics. That’s why I aspire to become an investment banker. Throughout the years, I’ve been learning things related to fund raising, equity investment or mergers & acquisitions. During my years of college, I’ve managed a crypto-assets wallet and more recently, I’ve started to handle a stock market portfolio. Through these early experiences, I’ve developed strong leadership, problem solving and communication skills.</p>
<p>Aside from studying at college, I work on different projects, and try to improve my knowledge in Computer Science, Web Development and Machine Learning.</p>
<p>Eventually, being constantly looking for new challenges, I started to learn Dutch (Ja, ik spreek Nederlands !!!).</p>
