---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 3
eleventyExcludeFromCollections: true
---

<h1>Blog</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
