---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
{%- if date %}
<p class="post-meta">
{{ date | readableDate }}
<span class="dot-separator">·</span>
{{ content | readingTime}}
</p>
{% endif %}

{{ content | safe }}

<div class="prev-next">
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<a class="button" href="{{ previousPost.url | url }}">Previous: {{ previousPost.data.title }}</a>{% endif %}
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<a class="button next-post" href="{{ nextPost.url | url }}">Next: {{ nextPost.data.title }}</a>{% endif %}
</div>
